<% content_for :title, "New article" %>

<%= render "form", form_title: "New Article",  article: @article %>

<br>

<div class="d-flex justify-content-center">
  <%= link_to "Back to articles", articles_path, class: "btn btn-outline-success" %>
</div>
