<div class="px-5 py-4">
    <div class="position-relative p-5 mb-4 rounded-3"> <!-- Container relativo -->
    <!-- Imagem de fundo -->
        <img src="fundo.png" alt="Background" class="img-fluid w-100" style="height: 500px; object-fit: cover;">
        
            <!-- Jumbotron sobreposto -->
            <div class="position-absolute top-50 start-50 translate-middle w-100 h-50"> <!-- Centraliza e define largura -->
                <!-- Adiciona opacidade -->
                    <div class="container-fluid h-100 w-100 d-flex flex-column justify-content-around align-items-center">
                        <h1 class="display-5 fw-bold text-uppercase">Alpha Blog</h1>
                        <p class="col-md-8 fs-4 text-center"> <!-- Adicionei text-center -->
                            A simple site where you can post articles. Made by Raphael Stefano Barros Erbetta. Made in Ruby 8.0.2.
                        </p>
                        <p class="col-md-8 fs-4 text-center"> <!-- Adicionei text-center -->
                            Click in the Link bellow to Log In or create an account and find out more!
                        </p>
                        <button class="btn btn-dark bg-black btn-lg px-4" type="button">
                            Sign Up!
                        </button>
                    </div>
                
            </div>
        </div>
</div>